fastapi==0.128.0
uvicorn==0.40.0
pydantic==2.12.5
python-multipart==0.0.21
python-dotenv==1.2.1
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.24.1
langchain-openai==1.1.7
langchain-core==1.2.7
langchain-community==0.4.1
langchain-text-splitters==1.1.0
rank-bm25==0.2.2
numpy==1.26.3
pypdf==6.6.0
faiss-cpu==1.13.2

