name: CI Pipeline
on:
    push:
        branches: ['main']
    pull_request:
jobs:
    build:
        runs-on: ubuntu-latest

        steps: 
            - name: Checkout repo
              uses: actions/checkout@v4
            
            - name: Set up Docker
              uses: docker/setup-buildx-action@v3

            - name: Build backend image
              run: docker build -t rag-backend ./backend

            - name: Build frontend image
              run: docker build -t rag-frontend ./frontend
            
